git clone --branch oneplus/sm7675_b_16.0.0_nord_4 https://github.com/OnePlusOSS/android_kernel_common_oneplus_sm7675.git common
ls common/arch/arm64/configs | grep -i -E "sm7675|avalon|nord|oneplus"
# or search inside files:
grep -R "avalon" -n common || true
