name: Stock Build OnePlus Nord 4 KSU-NEXT + SUSFS Kernel
on:
  workflow_dispatch:
    inputs:
      FILE:
        type: choice
        description: "Configuration file"
        required: true
        default: oneplus_nord_4_v
        options:
          - oneplus_nord_4_v
          
